
<h2>Index</h2>
<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">

    yeni hakkimizda yazi girisi
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkimizda veri girisi</h2>

            </div>
            <form method="post" action="/About/AddAbout/">
                <div class="modal-body">
                    <label>Hakkimizda metin girisi1</label>
                    <input type="text" name="AboutDetails1" class="form-control" />
                    <br />
                    <label>Hakkimizda metin girisi1</label>
                    <input type="text" name="AboutDetails2" class="form-control" />
                    <br />
                    <label>Hakkimizda metin girisi1</label>
                    <input type="text" name="AboutImage1" class="form-control" />
                    <br />
                    <label>Hakkimizda metin girisi1</label>
                    <input type="text" name="AboutImage2" class="form-control" />
                    <br />
                    <button class="btn btn-info">Saver</button>
                </div>

            </form>
        </div>

    </div>

</div>